.places {
    border: 1px solid red;
    width: calc(100% - 2*100px);
    min-height: 3392px;
    margin: 0 auto 92px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen and (max-width:1024px) {
    .places {
      width: calc(100% - 2*48px);
      min-height: 3292px;
    }
}