.intro__list {
  border: 1px solid red;
  width: 690px;
  height: 90px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 12px;
  line-height: 18px;
  font-style: normal;
  font-weight: bold;
}