.header__lang-link_active {
    border: 1px solid red;
    color: #fff;
    width: 30px;
    height: 28px;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    line-height: 28px;
    margin: 18px 18px 6px 0;
  }

  @media screen and (max-width:767px) {
    .header__lang-link_active {
      width: 22px;
      height: 20px;
      font-size: 18px;
      line-height: 20px;
      margin: 14px 18px 8px 0;
    }
  }