.lead__title {
  font-family: 'Inter';
  max-width: calc(100% - 132px*2);
  height: 200px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  font-style: normal;
  text-align: center;
  margin: 0 0 32px;
}

@media screen and (max-width:1023px) {
  .lead__title {
    max-width: calc(100% - 104px*2);
  }
}

@media screen and (max-width:767px) {
  .lead__title {
    max-width: calc(100% - 24px*2);
  }
}

@media screen and (max-width:320px) {
  .lead__title {
    max-width: calc(100% - 2*16px);
    max-height: 88px;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }
}