.footer__links {
    border: 1px solid red;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

@media screen and (max-width: 767px) {
    .footer__links {
        width: 186px;
        height: 310px;
        display: block;
    }
}