.intro__text {
  width: 100%;
  min-height: 209px;
  margin: 0 0 32px;
  font-size: 16px;
  line-height: 163%;
  font-style: normal;
  font-weight: normal;
}

@media screen and (max-width:767px) {
  .intro__text {
    font-size: 16px;
    line-height: 26px;
  }
}