.intro {
  max-width: calc(100% - 100px - 394px);
  min-height: 429px;
  margin-left: 100px;
  margin-bottom: 92px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width:1023px) {
  .intro {
    max-width: calc(100% - 48px - 286px);
    margin-left: 48px;
  }
}

@media screen and (max-width:767px) {
  .intro {
    max-width: calc(100% - 24px*2);
    margin-bottom: 88px;
    margin-left: 24px;
  }
}

@media screen and (max-width:320px) {
  .intro {
    max-width: calc(100% - 16px*2);
    min-height: 754px;
    margin-bottom: 64px;
    margin-left: 16px;
  }
}