.place__link {
  width: 100%;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  margin: 0;
}

.place__link:hover {
  opacity: 0.3;
  transition: ease 2s;
}