.cover__overlay {
    border: 1px solid red;
    min-height: 740px;
    color: #fff;
    text-decoration: none;
    background-image: url('../../../images/cover-background.svg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
.cover__overlay:before {
    content: '';
    position: absolute;
    background-color: #2A2C2F;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

.cover__overlay:hover:before {
    opacity: 0.8;
    transition: all 2s;
}
