.lead__caption {
    border: 1px solid red;
    width: 159px;
    height: 14px;
    font-size: 10px;
    line-height: 14px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 0.15em;
}