.header__lang-links {
    color: #fff;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

  
